*, *::before ,*::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    /* border: 3px solid red; */
    height: 140em;
}
 /******************* Nav *************************/
.navigation{
    /* border: 10px solid brown; */
    display: flex;
    justify-content: flex-end;
    background-color: #2e2f34;
    height: 3%;
    align-items: center;
}
.nav{
    /* border: 1px solid yellowgreen; */
    height: 50%;
    width: 50%;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
a:hover {
    color: #ffffff;
  }
  /*************************Introduction*******************************/
.intro{
    /* border: 3px solid blue; */
    height: 18%;
    display: flex;
    justify-content: center;
    background-color: #34353a;
    
}
.introduction{
    /* border: 3px solid blue; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://res.cloudinary.com/jsays/image/upload/v1619716031/back.jpg");
}

.resume-button button {
    border: 1px solid #c27e0a;
    height: 3em;
    font-size: 1em;
    border-radius: 1.5em;
    background: #c27e0a;
    color: #130c02;
    width: 50%;
}
#get{
    color: #ffffff;
}
.introduction h2{
    color: #ffffff;
}
.about-me{
    /* border: 3px solid yellow; */
    height: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #2e2f34;
}
.about{
    /* border: 3px solid blue; */
    width: 40%;
    color: #f2e9f3;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://res.cloudinary.com/jsays/image/upload/v1619716029/back-2.jpg");
}
.get-in-touch{
    /* border: 3px solid brown; */
    height: 5%;
    display: flex;
    justify-content: center;
    background-color: #e9ebf7;
    align-items: center;
}
.button{
    /* border: 1px solid; */
    width: 10%;
    height: 90%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.button button{
    border: 1px solid #c27e0a;
    height: 3em;
    font-size: 1em;
    border-radius: 1.5em;
    width: 100%;
    background: #c27e0a;
    color: #130c02;
}
/*****************************************Projects**********************************************/
.my-works{
    /* border: 3px solid ; */
    height: 3%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #2e2f34;
}
.works{
    /* border: 1px solid brown; */
    width: 30%;
    height: 100%;
    color: #c27e0a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-container{
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    background-color: #34353a;
    height: 26%;
    /* border: 10px solid olivedrab ; */
}
.box-1, .box-2, .box-3,.box-1a{
    width: 20em;
    height: 20em;
    /* background-color: blue; */
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid purple; */
    
}
.box-1{
    background-image: url("https://res.cloudinary.com/jsays/image/upload/v1619716098/box-1_img.png");
}
.box-2{
    background-image: url("https://res.cloudinary.com/jsays/image/upload/v1619715867/box-2_img.png");
}
.box-3{
    background-image: url('https://res.cloudinary.com/jsays/image/upload/v1619797624/box-3_img.png');
    /* box-shadow: 2px 2px 2px 2px #ffffff; */
}
.box-container2{
    /* padding-top: 2em; */
    /* border: 8px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e2f34;
    height: 25%;
}
.box-1a{
    background-image: url("https://res.cloudinary.com/jsays/image/upload/v1619716047/box-1a_img.png");
}
.in-progress{
    color: #c27e0a;
    padding-bottom: 1em;
   
}

.description h2, a{
    color: #c27e0a;
}
.description p{
    color: #ffffff;
}

/************************************Contact form and icons****************************************/
.contact{
    /* border: 2px solid red; */
    /* margin-top: 2.4em; */
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-around;
    background-color: #34353a;
}
.contact-form{
    /* border: 1px solid blue; */
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input,textarea{
    /* border: 2px solid grey; */
    width: 40em;
    height: 6em;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    padding-bottom: 2em;
    background-color: #34353a;
    /* font-size: .5em; */
}
textarea{
height: 15em;
padding-top: 5em;
}
.send{
    /* border: 1px solid; */
    height: 2em;
    padding-top: 1em;
    display: flex;
    justify-content: center;
}
.send button{
height: 1.5em;
width: 20%;
font-size: 1.3em;
background: #c27e0a;
border: none;
color: #ffffff;
border-radius: 1.5em;
/* padding-top: 2em; */
}
/**************************************** icons******************************** */
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid; */
    width: 40%;
}
.connect{
    /* border: 1px solid blue; */
    justify-content: center;
    display: flex;
    color: #ffffff;
}
.iconz{
    /* border: 4px solid rgb(122, 230, 20); */
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    /* width: inherit; */
    /* height: 3em; */
}
.linkedin, .github{
    /* border: 1px solid ; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c27e0a;
    height: 50%;
}
/************************************Footer****************************************/

.footer{
    display: flex;
    justify-content: center;
    /* border: 1px solid; */
    height: 3em;
    background-color: #e9ebf7;
}
footer{
    /* border: 1px solid purple; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2e2f34;
    font-size: 1.5em;
}

/* @media (min-width:320px)  {  smartphones, iPhone, portrait 480x320 phones } */
@media (max-width: 600px) {
    *{
        font-size: 1em;
    }
    .container{
        /* border: 3px solid rgb(0, 255, 42); */
        height: 120em;
        /* width: fit-content; */
    }
    .nav{
        height: 50%;
        width: 100%;
    }
    .introduction{
        width: 100%;
       /* background-image: none;
       background-color: black; */
    }
    .resume-button button{
        width: 25%;
    }
    .about{
        width: 100%;
    }
    .button{
        width: 25%;
    }
    .works{
        /* border: 2px green; */
        width: 50%;
    }
    .box-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 46%;
        width: inherit;
        /* border: 10px solid rgb(69, 82, 45); */
    }   
    .box-1, .box-2, .box-3,.box-1a{
        width: inherit;
        height: 10em;
    } 
    .box-container2{
        width: inherit;
    }
    .contact{
        /* border: 2px solid red; */
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin-top: 23.7em;
        width: inherit;
    }
    .contact-form{
        height: 20em;
        width: inherit;
    }
    input,textarea{
        width: 30em;
        height: 6em;
    }
    .send{
        margin-top: 1em;
    }
    .send button{
    height: 1.8em;
    width: 40%;
    }
    .connect{
        padding-top: 4em;
    }
    .icons{
        width: inherit;
    }
    .footer{
        width: inherit;
        background-color: #e9ebf7;
    }
}
/* @media (max-width: 1000px){ */


@media (max-width: 480px){
    *{
        font-size: 1em;
    }
    p{
        display: none;
    }

    .introduction{
        width: 100%;
       background-image: none;
       background-color: black;
    }
    .resume-button button{
        width: 25%;
    }
    .about{
        width: 100%;
    }
    .button{
        width: 40%;
    }
    .works{
        width: 100%;
        /* border: 10px solid rgb(197, 11, 42); */
        /* font-size: 0.6em; */
    }    
     .box-1, .box-2, .box-3,.box-1a{
        width: 21em;
        height: 14em;
    } 
    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input,textarea{
        width: 20em;
        /* font-size: 1em; */
    }
    .send{
        margin-top: 1em;
        /* border: 1px solid; */
    }
    .send button{
    height: 1.8em;
    width: 40%;
    }
    .connect{
        padding-top: 4em;
    }
    footer{
        width: 100%;
        border: 1px solid;
    }
}